<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dcoffice.Properties.Settings.dcofficeConnectionString"
            connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=dcoffice;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>